<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings file="Cloud.config">
    <add key="clientId" value="" />
    
    <add key="WorkspaceContoso_pbiUsername" value="johncontoso@a.onmicrosoft.com" />
    <add key="WorkspaceContoso_pbiPassword" value="Azure$123" />
    <add key="WorkspaceContoso_pbiGroupId" value="" />
    <add key="WorkspaceContoso_DatasourceUserID" value="Management" />
    <add key="WorkspaceContoso_DatasourceUserPassword" value="Azure$123" />

    <add key="WorkspaceFabrikam_pbiUsername" value="JohnFabrikam@.onmicrosoft.com" />
    <add key="WorkspaceFabrikam_pbiPassword" value="Azure$123" />
    <add key="WorkspaceFabrikam_pbiGroupId" value="" />
    <add key="WorkspaceFabrikam_DatasourceUserID" value="Management" />
    <add key="WorkspaceFabrikam_DatasourceUserPassword" value="Azure$123" />
  </appSettings>
</configuration>